@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Email Templates
-------------------------------------------------- */

.email-template {
	margin: 1rem 0 .25rem;
	background-color: #eee;
	display: inline-block;
	width: 100%;
}

.email-template table:first-child {
	padding: 5px;
	max-width: 100%;
	width: 100%;
	border-collapse: initial;
	border-spacing: 10px;
}

.email-template table thead {
	display: none;
}

.email-template + p,
.email-template + strong {
	line-height: initial;
	display: block;
	margin-bottom: 1rem;
}

.email-template table:first-child tr td {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px 15px;
}

.email-template table:first-child tr td:first-child {
	background-color: #eee;
	text-align: right;
	padding: 10px 10px 10px 0;
	border: none;
	width: 100px;
}

.email-template table:first-child tr td:last-child {
	word-break: break-word;
}

.email-template table:first-child th,
.email-template table:first-child tr:nth-child(2n) {
	background-color: initial !important;
}

.email-content {
	padding: 10px 15px;
	margin: 0px 15px 15px 125px;
	background: #fff;
	border: 1px solid #ccc;
}

.email-content h3 {
	margin-top: 1rem;
}

/* Email Templates on MOBILES
    -------------------------------------------------- */

@media all and (max-width: 768px) {
	.email-template table:first-child {
		border-spacing: 5px;
	}
	.email-template table:first-child tr td {
		display: table;
		padding: 6px 8px;
		width: 100%;
	}
	.email-template table:first-child tr td:first-child {
		text-align: left;
		padding: 5px 0 0;
	}
	.email-content {
		margin: 20px 15px;
	}
}

/* -------------------------------------------------- */
